:root {
  --gray-background: rgb(243, 243, 243);
  --ide-width: 60vw;
}

.ide-container {
  padding: 50px;
  background-color: var(--gray-background);
  box-shadow: black 0 0 5px;
  margin-top: 100px;
}
.ide {
  background-color: var(--gray-background);
  padding: 10px;
}

.intro {
  width: var(--ide-width);
  padding: 10px;
  color: #666;
}
.ide-heading {
  font-size: 28px;
  border: none;
  color: #666;
  font-weight: 400;
  margin: 0 0 15px 0;
  padding: 0;
  max-width: 680px;
  width: 100%;
}

.ide-header {
  padding: 10px 0 10px;
  display: flex;
  border: 1px solid black;
  border-bottom: none;
}

.ide .main-container {
  border-radius: 2px;
}

.code-input-container {
  padding: 0;
  margin: 0;
  background-color: var(--gray-background);
}

.code-input {
  width: var(--ide-width);
  height: 50vh;
  outline: none;
  resize: none;
  padding: 10px;
  overflow: auto;
}

.ide-controller {
  display: flex;
  justify-content: flex-end;
  background-color: var(--gray-background);
}

.run-btn-container,
.submit-btn-container {
  margin: 10px;
}

.run-btn,
.submit-btn {
  font-size: 1.3rem;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 5px 10px;
}

.run-btn:active,
.submit-btn:active {
  transform: scale(0.97);
}
.run-btn {
}

.submit-btn {
}

.in-out-container {
  display: flex;
  flex-wrap: wrap;
}

.output-container {
  width: calc(var(--ide-width) / 2);
  height: 20vh;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  overflow: auto;
}

.input-container {
  width: calc(var(--ide-width) / 2);
  height: 20vh;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  font-size: 1.2rem;
  resize: none;
  overflow: auto;
  outline: none;
}

label {
  margin: 10px;
  font-size: 15px;
}
